// COLORS
$Pink: hsl(322, 100%, 66%);
$Light-Pink: hsl(321, 100%, 78%);
$Light-Red: hsl(0, 100%, 63%);
$Dark-Cyan: #00252e;
$Pale-Blue: hsl(207, 100%, 98%);
$clr-secondary: #808080;


// FONTS

$ff-open-sans : 'Open Sans', sans-serif;
$ff-poppins :'Poppins', sans-serif;
